.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf 
*.html
include/
share/
SAFE/
Trilateration_1_files/
Trilateration_3_justMCMC_files/
*.gz 
gps_data.txt
DATA/gps_data.txt
DATA/I18*
DATA/dag123.asc
*.rds
 
